$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);
$white: #ffff;

$fontSize: 18px; 
$fontSizeTwo: 11px;
$fontSizeThree: 15px;
$fontFamily: poppins; 

$desktopSidePadding: 0 3rem;
$desktopHeaderPadding: 2rem 3rem;

@mixin button {
    background-color: $cyan;
    border: none;
    color: $white;
    text-transform: capitalize;
    font-size: $fontSizeThree;
    font-family: $fontFamily;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

@mixin flexOne {
    display: flex;
    align-items: center;
    justify-content: center;
}



