$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$veryGray: #eff1f7;
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);
$white: #ffff;
$black: rgb(0, 0, 0);

$fontSize: 18px; 
$fontSizeTwo: 11px;
$fontSizeThree: 15px;
$fontSizePrimaryHeading: 75px;
$fontSizeSecondaryHeading: 40px;
$fontSizeThirdHeading: 25px;
$fontFamily: poppins; 

$fontHeaderOneMobile: 55px;
$fontHeaderTwoMobile: 45px;
$fontHeaderThreeMobile: 30px;


$desktopSidePadding: 0 8rem;
$desktopHeaderPadding: 2rem 8rem;
$tabletPadding: 2rem 5rem;
$mobileHeaderPadding: 1rem 2rem;
$mobileSidePadding: 0 2rem; 
$mobileSidePaddingSectionThree: 8rem 2rem; 


@mixin button {
    background-color: $cyan;
    border: none;
    color: $white;
    text-transform: capitalize;
    font-size: $fontSizeThree;
    font-family: $fontFamily;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

@mixin buttonTwo {
    @include button;
    border-radius: 0.5rem;
}

@mixin buttonThree {
    @include button;
    background-color: $veryDarkBlue;
    color: $white;
    border-radius: 0.5rem;
}

@mixin flexOne {
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin primaryHeading {
    font-family: $fontFamily;
    font-size: $fontSizePrimaryHeading;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

@mixin secondaryHeading {
    @include primaryHeading;
    text-transform: capitalize;
    font-size: $fontSizeSecondaryHeading;
    color: $darkViolet;
}

@mixin thirdHeading {
    @include primaryHeading;
    text-transform: capitalize;
    font-size: $fontSizeThirdHeading;
    color: $darkViolet;
}

@mixin paragraph {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: 500;
    color: $grayishViolet;
    margin: 0;
    padding: 0;
    z-index: -1;
}

@mixin paragraphTwo {
    font-family: $fontFamily;
    font-size: $fontSizeThree;
    font-weight: 500;
    color: $gray;
    margin: 0;
    padding: 0;
}

@mixin paragraphThree {
    font-family: $fontFamily;
    font-size: $fontSizeThree;
    font-weight: 500;
    color: $gray;
    margin: 0;
    padding: 0;
}



// mobile fonts

@mixin primaryHeadingMobile {
    @include primaryHeading; 
    font-size: $fontHeaderOneMobile;
}

@mixin paragraphMobileOne {
    @include paragraph;
    font-size: $fontSizeThree;
}

@mixin secondaryHeadingMobile {
    @include primaryHeading; 
    font-size: $fontHeaderTwoMobile;
}


@mixin secondaryHeadingMobileTwo {
    @include primaryHeading; 
    font-size: $fontHeaderThreeMobile;
}



@mixin inputBackdrop {
    @include flexOne;
    background-color: $darkViolet;
    background-size: cover;
    width: 100%;
    padding: 2rem 0 0 0;
    border-radius: 0.5rem;
}

@mixin inputTextbox {
    padding: 0.75rem 0 0.75rem 1rem;
    font-family: $fontFamily;
    font-size: $fontSizeThree;
    border-radius: 0.5rem;
    margin: 0 1rem 0 0;
}

@mixin inputTextboxActive {
    padding: 0.75rem 0 0.75rem 1rem;
    font-family: $fontFamily;
    font-size: $fontSizeThree;
    border-radius: 0.5rem;
    color: $red;
    margin: 0 1rem 0 0;
    border: 3px solid $red;
}

@mixin hover {
    transition: 0.25s all;
    color: $darkViolet;
}

@mixin boxShadow {
    -webkit-box-shadow: 0px 3px 5px 5px rgba(0,0,0,0.05); 
    box-shadow: 0px 3px 5px 5px rgba(0,0,0,0.05);
}

@mixin inputWrapper {
    text-decoration: none;
    list-style: none;
    background-color: $white;
    @include  boxShadow;
    padding: 1rem;
    border-radius: 0.75rem;
}




// 3 icon containers
@mixin parentDiv {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: $white;
    padding: 5rem 2rem;
    border-radius: 0.5rem;
}

@mixin iconBackground {
    background-color: $darkViolet;
    border-radius: 4rem;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -7.4rem;
}

@mixin iconHeader {
    @include thirdHeading;
    margin: -3rem 0 1rem 0;
}

@mixin iconParagraph {
    @include paragraphThree;
}



// footer styles 

@mixin footerUl {
    list-style: none;
    text-decoration: none;
    font-size: $fontSizeThree;
    margin-top: 0;
    margin-bottom: 0;
}

@mixin footerHeader {
    list-style: none;
    text-decoration: none;
    color: $white;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
}

@mixin footerLi {
    padding: 0.25rem 0;
}

@mixin footerA {
    color: $gray;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
}



// hamburger menu 
@mixin hamburgerTrigger {
    position: absolute;
    top: 2rem;
    right: 2rem;
    content: '';
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    z-index: 0;
}

@mixin defaultHamburgerStroke {
    position: absolute;
    display: initial;
    content: '';
    top:1rem;
    width: 30px;
    height: 3px;
    background-color: $gray;
    z-index: 1;
}

