$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);
$white: #ffff;

$fontSize: 18px; 
$fontSizeTwo: 11px;
$fontSizeThree: 15px;
$fontSizePrimaryHeading: 75px;
$fontFamily: poppins; 

$desktopSidePadding: 0 8rem;
$desktopHeaderPadding: 2rem 8rem;

@mixin button {
    background-color: $cyan;
    border: none;
    color: $white;
    text-transform: capitalize;
    font-size: $fontSizeThree;
    font-family: $fontFamily;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

@mixin flexOne {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin primaryHeading {
    font-family: $fontFamily;
    font-size: $fontSizePrimaryHeading;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

@mixin paragraph {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: 500;
    color: $grayishViolet;
    margin: 0;
    padding: 0;
    z-index: -1;
}

@mixin inputBackdrop {
    @include flexOne;
    background-image: url('/dist/bg-shorten-desktop.svg');
    width: 100%;
    padding: 3rem 0;
    border-radius: 0.5rem;
}



