@import "./_variables";

body {
    font-family: $fontFamily;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $desktopHeaderPadding;

    .boxOne {
        @include flexOne;

        ul.list {
            display: flex;

            li {
                padding: 0 1rem;
                list-style: none;

                a {
                    text-decoration: none;
                    color: $grayishViolet;
                    text-transform: capitalize;
                }

                a:hover {
                    @include hover;
                }
            }
        }
    }

    .boxTwo {
        @include flexOne;

        button.login {
            @include button;
            background-color: transparent;
            color: $grayishViolet;
            padding: 0 2rem;
        }

        button.login:hover {
            @include hover;
        }

        button.signUp {
            @include button
        }
    }
}

main {
    padding: $desktopSidePadding;

    section.one {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .contentsContainer {
            width: 35rem;

            h1 {
                @include primaryHeading;
            }

            p {
                @include paragraph;
            }

            button.getStarted {
                @include button;
                margin: 2rem 0 0 0;
            }
        }

        img.illustration {
            position: absolute;
            top:10rem;
            left: 60vw;
        }
    
    }

    section.two {
        @include flexOne;
        flex-direction: column;

        .inputContainer {
            @include inputBackdrop;

            .inputContents {
                display: grid;
                grid-template-columns: 80% 20%;
                grid-template-rows: 1fr;
                margin: 2rem;
                width: 100%;

                input.textBox {
                    @include inputTextbox;
                }

                input.textBox.active::placeholder {
                    color: red;
                }

                input.textBox.active {
                    @include inputTextboxActive;
                }
    
                button.shortenIt {
                    @include buttonTwo;
                }

                .warning {
                    visibility: hidden;

                    p {
                        margin: 0;
                        padding: 0;
                        transform: translateY(1rem);
                        color: $red;
                        text-transform: capitalize;
                        font-style: italic;
                    }
                }

                .warning.active {
                    visibility: visible;
                }

            }
        }

        .inputResultContainer {
            width: 100%;

            ul.inputUl {
                @include inputWrapper;

                li.inputLi {
                    @include flexOne;
                    justify-content: space-between;
                    text-decoration: none;
                    list-style: none;

                    .inputContents {
                        @include flexOne;

                        .result {
                            color: $cyan;
                        }

                        button.btnResult {
                            @include buttonTwo;
                            margin: 0 0 0 1rem;
                        }

                        button.btnResult.active {
                            @include buttonThree;
                        }
                    }
                }
            }
        }
    }
}