@import "./_variables";

body {
    font-family: $fontFamily;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $desktopHeaderPadding;

    .boxOne {
        @include flexOne;

        ul.list {
            display: flex;

            li {
                padding: 0 1rem;
                list-style: none;

                a {
                    text-decoration: none;
                    color: $grayishViolet;
                    text-transform: capitalize;
                }

                a:hover {
                    transition: 0.25s all;
                    color: $darkViolet
                }
            }
        }
    }

    .boxTwo {
        @include flexOne;

        button.login {
            @include button;
            background-color: transparent;
            color: $grayishViolet;
            padding: 0 2rem;
        }

        button.signUp {
            @include button
        }
    }
}