@import "./_variables";

html {
    overflow-x: hidden;
}

body {
    font-family: $fontFamily;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $desktopHeaderPadding;

    .boxOne {
        @include flexOne;

        ul.list {
            display: flex;

            li {
                padding: 0 1rem;
                list-style: none;

                a {
                    text-decoration: none;
                    color: $grayishViolet;
                    text-transform: capitalize;
                }

                a:hover {
                    @include hover;
                }
            }
        }
    }

    .boxTwo {
        @include flexOne;

        button.login {
            @include button;
            background-color: transparent;
            color: $grayishViolet;
            padding: 0 2rem;
        }

        button.login:hover {
            @include hover;
        }

        button.signUp {
            @include button
        }
    }


    .hamburgerTrigger {
        display: none;

        .hamburger {
            display: none;
        }
    }
}

main {

    section.one {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: $desktopHeaderPadding;

        .contentsContainer {
            width: 35rem;
            transform: translateY(-5rem);
            position: relative;
            z-index: 1;

            h1 {
                @include primaryHeading;
            }

            p {
                @include paragraph;
            }

            button.getStarted {
                @include button;
                margin: 2rem 0 0 0;
            }
        }

        img.illustration {
            position: absolute;
            top:10rem;
            left: 60vw;
        }
    
    }

    section.two {
        @include flexOne;
        flex-direction: column;
        background-color: $veryGray;
        padding: $desktopHeaderPadding;

        .inputContainer {
            @include inputBackdrop;
            background-image: url('/src/assets/bg-boost-desktop.svg');
            transform: translateY(-7rem);

            .inputContents {
                display: grid;
                grid-template-columns: 80% 20%;
                grid-template-rows: 1fr;
                margin: 2rem;
                width: 100%;

                input.textBox {
                    @include inputTextbox;
                }

                input.textBox.active::placeholder {
                    color: red;
                }

                input.textBox.active {
                    @include inputTextboxActive;
                }
    
                button.shortenIt {
                    @include buttonTwo;
                }

                .warning {
                    visibility: hidden;

                    p {
                        margin: 0;
                        padding: 0;
                        transform: translateY(1rem);
                        color: $red;
                        text-transform: capitalize;
                        font-style: italic;
                    }
                }

                .warning.active {
                    visibility: visible;
                }

            }
        }

        .inputResultContainer {
            width: 100%;
            transform: translateY(-7rem);

            ul.inputUl {
                @include inputWrapper;

                li.inputLi {
                    @include flexOne;
                    justify-content: space-between;
                    text-decoration: none;
                    list-style: none;

                    .inputContents {
                        @include flexOne;

                        .result {
                            color: $cyan;
                        }

                        button.btnResult {
                            @include buttonTwo;
                            margin: 0 0 0 1rem;
                        }

                        button.btnResult.active {
                            @include buttonThree;
                        }
                    }
                }
            }
        }
    }

    section.three {
        @include flexOne;
        flex-direction: column;
        padding: 8rem;
        background-color: $veryGray;
        height: 75vh;

        .subheading {
            @include flexOne;
            flex-direction: column;
            text-align: center;
            align-items: center;
            width: 30rem;
            margin: 0 0 15rem 0;

            h2 {
                @include secondaryHeading;
                margin: 0 0 2rem 0;
            }

            p {
                @include paragraphTwo;
                font-weight: 500;
            }
        }

        .boxes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 2%;
            position: relative;
            z-index: 1;
            margin: 0 0 10rem 0;

            .brandRecognition {
                @include parentDiv;
                transform: translateY(-9rem);

                .iconOneBackCircle {
                    @include iconBackground;
                }

                h3 {
                    @include iconHeader;
                }

                p {
                    @include iconParagraph;
                }
            }

            .detailedRecords {
                @include parentDiv;
                transform: translateY(-6rem);

                .iconTwoBackCircle {
                    @include iconBackground;
                }

                h3 {
                    @include iconHeader;
                }

                p {
                    @include iconParagraph;
                }
            }
            
            .fullyCustomizable {
                @include parentDiv;
                transform: translateY(-3rem);

                .iconThreeBackCircle {
                    @include iconBackground;
                }

                h3 {
                    @include iconHeader;
                }

                p {
                    @include iconParagraph;
                }
            }
        }
    }

    section.three::after {
        content: '';
        position: absolute;
        width: calc(100vw - 18rem);
        height: 10px;
        background-color: $cyan;
        z-index: 0;
    }

    section.four {
        @include flexOne;
        flex-direction: column;
        width: 100vw;
        height: 15rem;
        background-image: url('/src/assets/bg-boost-desktop.svg');
        background-color: $darkViolet;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
            @include secondaryHeading;
            color: $white;
            margin: 0 0 2rem 0;
        }

        button.getStarted {
            @include button;
        }
    }
}

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    background-color: $black;
    height: 15rem;
    padding: $desktopSidePadding;
    padding-top: 3rem;

    img.footerLogo {
        transform: translateY(0.5rem);
    }

    .footerContents {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 0;

        .footerList {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            padding: 0;
            margin: 0;
            position: relative;
            top:0;
        

            ul.one {
                @include footerUl;

                li.header {
                    @include footerHeader;
                }

                li {
                    @include footerLi;

                    a {
                        @include footerA;
                    }
                }

            }

            ul.two {
                @include footerUl;

                li.header {
                    @include footerHeader;
                }

                li {
                    @include footerLi;

                    a {
                        @include footerA;
                    }
                }

            }

            ul.three {
                @include footerUl;

                li.header {
                    @include footerHeader;
                }

                li {
                    @include footerLi;

                    a {
                        @include footerA;
                    }
                }

            }
        }

        .socials {
            transform: translateY(0.5rem);

            img {
                padding: 0 0.5rem;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    header {
        padding: $tabletPadding;
    }

    main {
        
        section.one {
            padding: $tabletPadding;
        }

        section.two {
            padding: $tabletPadding;
        }
    }
}

@media only screen and (max-width: 750px) {

    body {
        overflow-x: hidden;
    }
    
    header {
        padding: $mobileHeaderPadding;

        .boxOne {

            ul.list {
                display: none;
            }
        }

        .boxTwo {

            button {
                display: none;
            }
        }

        .hamburgerTrigger {
            display: initial;
            position: absolute;
            top: 2rem;
            right: 2rem;
            content: '';
            width: 30px;
            height: 30px;
            background-color: transparent;
            cursor: pointer;
            z-index: 0;

            
            .hamburger {
                @include defaultHamburgerStroke;
            }

            .hamburger::after {
                @include defaultHamburgerStroke;
                transform: translateY(-0.5rem);
            }

            .hamburger::before {
                @include defaultHamburgerStroke;
                transform: translateY(-1.5rem);
            }
        }
    }

    main {

        section.one {
            display: flex;
            flex-direction: column-reverse;
            height: 60rem;
            padding: $mobileSidePadding;
            overflow-x: hidden;

            .contentsContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                width: auto;

                h1 {
                    @include primaryHeadingMobile;
                }

                p {
                    @include paragraphMobileOne;
                    padding: 1rem 0;
                }

                button.getStarted {
                    margin: 0 0 2rem 0;
                }
            }

            img.illustration {
                left: 3rem;
            }


        }

        section.two {
            padding: $mobileSidePadding;
            padding-top: 2rem;

            .inputContainer {

                .inputContents {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    margin: 1rem;

                    input.textBox {
                        margin: 0;
                    }

                    input.textBox.active {
                        margin: 0;
                    }

                    button.shortenIt {
                        margin: 1rem 0 0 0;
                    }
                    
                    p.warningMessage {
                        transform: translateY(0.5rem);
                    }
                }
            }

            .inputResultContainer {
                margin: 0 0 4rem 0;
            }
        }

        section.three {
            padding: $mobileSidePaddingSectionThree;
            height: 65rem;
            

            .subheading {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                width: auto;

                h2 {
                    @include secondaryHeadingMobile;
                }

                p {
                    @include paragraphMobileOne;
                    z-index: 0;
                }
            }

            .boxes {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                height: auto;
                text-align: center;
                padding: 0 0 3rem 0;

                .brandRecognition {
                    @include flexOne;
                }

                .detailedRecords {
                    @include flexOne;
                }

                .fullyCustomizable {
                    @include flexOne;
                }
            }
        }

        section.three::after {
            height: 1000px;
            width: 10px;
        }
        
        section.four {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            h2 {
                @include secondaryHeadingMobileTwo;
                margin-bottom: 1rem;
            }
        }
    }

    footer {
        height: auto;
        padding: $mobileSidePadding;
        @include flexOne;
        flex-direction: column;

        .footerLogo {
            padding: 5rem 0 3rem 0;
        }

        .footerContents {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .footerList {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                align-items: center;
                justify-content: center;
                text-align: center;

                ul {
                    padding: 0;
                    margin: 0;
                }
            }

            .socials {
                margin: 0;
                padding: 0;
                transform: translateY(-5rem);
            }
        }
    }
}